@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Pacifico&family=Source+Code+Pro:wght@400;700&display=swap');

/* #region Common Style */
*
{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html 
{
    font-size: 62.5%;
}
body
{
    width: 100vw;
    /* Example : 1rem = 10px;    0.5rem = 5px   */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;

    overflow-x: hidden;
}
.wrapper
{
    margin : 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* #endregion */


/* #region Header Style */
#main_header {
    position: relative;
    width: 100vw;
    height: 100px;
    text-align: center;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding : 10px;
}

#gnb > ul
{
    width: 30vw;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    margin-right: 30px;
}
#gnb > ul > li
{
    height: 100px;
    padding-top : 40px;
    padding-left: 20px;
    text-align: center;
    position: relative;
}
.logo_title > a > img
{
    margin-top: 10px;
    margin-left: 30px;
    width: 100px;
    height: auto;
    object-fit: contain;
    object-position: center;
}

#gnb>ul>li>a {
    color: rgb(51, 50, 50);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
}

#gnb .depth2 {
    margin-top: 30px;
    padding: 10px;
    display: none;
}

#gnb .depth2>li>a {
    color: rgb(51, 50, 50);
}

#gnb>ul>li:hover>.depth2 {
    display: block;

    position : absolute;
    top : 40px;
    left : 50%;
    transform: translateX(-50%);
    z-index: 10;
}
#gnb>ul>li:hover>.depth2>li
{
    width: 100px;
    padding-top : .2rem;
    background-color: black;
}
#gnb>ul>li:hover>.depth2>li>a
{
    color : rgb(255, 255, 255);

    text-transform: uppercase;

    font-size: 1.2rem;

    letter-spacing: 1.2px;
}

#gnb>ul>li>a:hover {
    text-decoration: underline;
}

/* #endregion */


/* #region Section Style */

#section
{
    width : 100vw;
    height : 600px;

    position : relative;
    overflow: hidden;
}
.section-containerBox
{
    width: inherit;
    height : inherit;

    position : absolute;
    overflow: hidden;

    left : 0;
    top : 0;

    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*  비디오박스 */
.section-videoBox
{
    width: inherit;
    height : inherit;

    position : absolute;
    overflow: hidden;

    left : 0;
    top :0;
    z-index: -2;
}
.section-videoBox video
{
    width : 100%;
    position: inherit;

    z-index: -2;
}
.section-videoBox::after
{
    content: '';

    width: inherit;
    height :600px;
    position : absolute;

    top : 0;
    left : 0;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.section-left-box
{
    position : absolute;
    left : 5vw;
    transform: translateX(20px);

    width : 400px;
    z-index: 1;

    margin-left: 50px;
    padding-left: 30px;
}
.section-right-box {
    position: absolute;
    right: 5vw;
    transform: translateX(-20px);
    width: 400px;;
    z-index: 1;

}

.section-title-heading
{
    font-size: 12rem;
    color : rgba(255, 255, 255, .9);
    text-shadow: 1px 3px 3px #222,
    3px 1px 2px #fff;
    text-overflow: clip;

    transform: rotateY(20deg);

    line-height: .95;
}
.uppercase
{
    text-transform: uppercase;
}
.section-title-subheading
{
    font-size: 3rem;
    color: rgba(255, 255, 255, .9);
    text-transform: uppercase;
    text-shadow: 1px 3px 3px #222,
    3px 1px 2px #fff;
    text-overflow: clip;

    transform: rotateY(-40deg);

    line-height: 1;
}

.section-para > a
{
    color : white;
    text-decoration: underline;
    transition: color .4s;
}
.section-para>a:hover {
    color: rgb(235, 175, 232);
}

.section-para
{
    padding-top : 4rem;
    color : rgba(255, 255, 255, .6);
    line-height: 1.5;

    text-shadow: 0.1rem 0.1rem 0.1rem #222;
}

/* 폰트 변경 */
.pacifico {
    font-family: 'Pacifico', cursive;
}

.sourceCode {
    font-family: 'Source Code Pro',
        monospace;
}
/* #endregion */





/* #region 배경 컨테이너 */
.section-container
{
    position : relative;
    width : 100vw;
    height : 600px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
.section-container::after
{
    content: '';
    width : 100vw;
    height: 600px;
    position :absolute;
    top : 0;
    left: 0;

    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.sec-bg1
{
    background-image: url(../images/bg1.jpeg);
}

.sec-bg2
{
    background-image: url(../images/bg2.jfif);
}

.sec-bg3
{
    background-image: url(../images/bg3.jpeg);
}

/* #endregion */

/* #region Footer */
#footer
{
    width : 100vw;
    height : 80px;

    background-color: rgb(48, 47, 47);
    color : rgba(255,255,255,.6);
    font-size : 1.0rem;

}
.footer-containerBox
{
    width: inherit;
    height: inherit;

    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iconbox > ul > li
{
    display: inline-block;
    padding : 10px;
}
.iconbox>ul>li>a
{
    color : white;
}
/* #endregion */
